/* Estilos Generales */
html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #006eff; /* Cambié el color de fondo */
    color: #333; /* Cambié el color de texto */
    font-family: 'Noto Sans', sans-serif;
  }
  
  .container {
    max-width: 90%;
    width: 100%;
  }
  
  /* Encabezado */
  .header3 {
    background-color: #3498db;
    color: #fff;
    padding: 10px 0;
  }
  
  .contenedor__titulo {
    padding: 20px 0;
  }
  
  /* Navegación */
  .navegacion {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-bottom: 2px solid #3498db;
    margin-bottom: 20px;
  }
  
  .navegacion__enlace {
    color: #3498db;
    text-decoration: none;
    padding: 10px 70px;
    transition: color 0.3s;
  }
  
  .navegacion__enlace:hover {
    color: #2ecc71;
  }
  
  /* Formulario de Ingreso */
  .registro {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    text-align: center;
  }
  
  .registro__titulo {
    color: #3498db;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .formularioingreso fieldset {
    border: none;
  }
  
  .campos {
    margin-bottom: 20px;
  }
  
  .campos label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .inputEstilos {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  /* Botón de Ingresar */
  .boton {
    background-color: #3498db;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .boton:hover {
    background-color: #2ecc71;
  }
  
  /* Pie de Página */
  footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
  }
  

  h1{
    text-align: center;
  }