.titulo-foto-perfil {
    margin-top: 20px; /* Ajusta el valor según sea necesario */
}
.header7 {
    background-color: #94c6d1;
    padding: 10px 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}