body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #f0f2f5;
    color: #00ffff;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #004ee9;
    color: #fff;
    padding: 15px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5em;
    margin: 0;
}

.navegacion {
    display: flex;
    gap: 20px;
}

.navegacion__enlace {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navegacion__enlace--sesion {
    margin-left: auto;
    background-color: #fff;
    color: #4267b2;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.perfil-section {
    background-color: #fff;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.perfil {
    display: flex;
    align-items: flex-start;
}

.foto-perfil {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

.imagenperfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-perfil {
    flex: 1;
}

.nombre-usuario {
    font-size: 1.5em;
    margin: 0;
}

.correo,
.estado-civil {
    margin: 5px 0;
}
.hola {
    max-width: 20%; /* Cambia el tamaño máximo de la imagen al ancho del contenedor */ /* Opcional: agrega esquinas redondeadas a la imagen */
    /* Otros estilos que desees aplicar a la imagen */
}
/* Estilos para la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.logo {
    margin: 0;
}

.navegacion {
    text-align: right;
}

.navegacion__enlace {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.navegacion__enlace--sesion {
    margin-left: 40px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.publicacion {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.publicacion img {
    max-width: 100%;
    display: block;
    margin: 0 auto 10px;
}

.reacciones {
    margin-top: 10px;
}

.reaccion {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}



